
{% extends 'base.html'%}

{% macro display_new_sources(sources_outcome) %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for news in sources_outcome %}
            <div class="card">
                <div class="card-header" id="headername" >
                    <h4 style="text-align: center; color: cornsilk;"><a href="/articles/{{news.id}}">{{news.name}}</a></h4>
                </div>
                <div class="card-body">
                    <p class="desc">
                        {{news.description}}
                    </p>
                
                </div>
                
                <div class="card footer" >
                    <br>
                    <a href="/articles/{{news.id}}"><button class="btn btn-sm btn-info">Read Articles</button> </a>
                    <a href="{{news.url}}"><button class="btn btn-rounded btn-flex btn-success" id="visit">See:{{news.name}}</button></a>
                    <br>
                    
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
{% macro display_new_articles(articles_outcome) %}
<div class="container-fluid" class="container-fluid">
    <div class="card-columns">
        {% for article in articles_outcome %}
            <div class="card">
                <div class="card-header title">
                    <h4>{{article.title}}</h4>
                </div>
                <div class="card-body">
                    <img src="{{article.urlToImage}}" alt="{{article.title }}" class="card-img">
                    <hr>
                    <p class="desc">
                        {{article.description}}
                    </p>
                    <p disabled>Posted: {{article.publishedAt | truncate(13)}} By: {{article.author | truncate(16)}} </p>
                </div>
                <div class="card-footer">
                     <a href="{{article.url}}"><button class="btn btn-sm btn-success">Read Article</button></a> 
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endmacro %}

{% macro display_Source_articles(source_articles) %}
<div class="container" id="articles">
    <div class="row" >
        {% for art in source_articles %}
           
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header title"><h4>{{art.title | truncate(58)}}</h4> </div>
                    <div class="card-body">
                        <p class="desc">{{art.description}}</p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="{{art.url}}"><button class="btn btn-sm btn-success">Read Article</button></a> 

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-image">
                    <img src="{{art.urlToImage}}" alt="{{art.title}}" class="card-img">
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endmacro %}