
<nav class="navbar navbar-expand-sm navbar-light navbar-inverse " role="navigation" style="background-color: rgba(64, 119, 136, 0.9);" >
  <a class="navbar-brand" href="/"  style="color: whitesmoke;font-size: 25px;padding: 5px;">NEWS APP</a>
  <button  type="button" class="navbar-toggler" data-toggle="collapse" data-toggle="collapse" data-target=".navbar-collapse" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"  style="color: whitesmoke;font-size: 15px;padding-left: 15px;">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/News-Articles" style="color: whitesmoke;font-size: 15px;padding-left: 15px;"> News Articles </a>
      </li>
    </ul>
    
  </div>
</nav>